.test-gap{
    gap: 10px;
    display: flex;
}

.post{
    padding: 10px;
    background-color: lightgray;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.postContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form{
    display: flex;
    flex-direction: column;
    width: 40%;
}